		body {
		  overflow: hidden;
		  margin: 0;
		  font-size: 14px;
		  font-family: 'Raleway', sans-serif;
      text-align: center;
			background: #2d2c2c;
			margin: 0;
		  /*font-family: Oswald;*/
		  /*font-family: "Helvetica Neue", Helvetica;*/
		}

		#chart {
    position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		}

		svg {
			/*cursor: move;
    	cursor: grab;
    	cursor: -moz-grab;
    	cursor: -webkit-grab;*/
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

		#clickerWrapper {
		  top: 0;
		  z-index: 1;
		  display: block;
		  position: relative;
		  width: 640px;
		  /*padding-top: 5px;*/
		  visibility: auto;
      text-align: center;
      margin: 0 auto;
		}

		#clicker {
		  z-index: 1;
		  display: block;
		  font-family: Oswald;
		  font-size: 24px;
		  font-weight: 300;
		  color: #e3e3e3;
			position: absolute;
    	bottom: calc(50% - 200px);
    	left: 50%;
    	transform: translateX(-50%);
		  /*width: 80px;*/
		  text-align: center;
		  width: 100px;
		  margin: 0 auto;
		  border: 1px solid;
		  border-color: #e3e3e3;
		  cursor: pointer;
		}

		#progress {
		  z-index: 1;
		  display: block;
		  position: absolute;
			bottom: calc(50% - 170px);
    	left: 50%;
    	transform: translateX(-50%);
		  width: 50px;
		  height: 6px;
		  margin: 10px auto;
		  visibility: hidden;
		}

		#buttonWrapper{
		  z-index: 1;
		  display: block;
		  font-family: Oswald;
		  font-size: 14px;
		  font-weight: 300;
		  color: #6B6B6B;
		  position: relative;
		  width: 640px;
		  text-align: center;
		  overflow: hidden;
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
		}

		#buttonWrapperInner{
			position: relative;
			width: 300px;
			height: 30px;
			margin: 0 auto;
		}


		#skip{
		  width: 90px;
		  cursor: pointer;
		  float: left;
		  text-align: left;
		}

		#reset{
		  width: 110px;
		  cursor: pointer;
		  float: left;
		}

		#link{
		  width: 100px;
		  cursor: pointer;
		  float: left;
		  text-align: right;
		}

		line {
		  /*stroke: #000;
		  stroke-width: 1.px;*/
		}

		text {
			color: white;
		  font-size: 7px;
		}

		.titles{
			color: white;
		  font-size: 7px;
		}

		.explanation{
		  font-size: 16px;
			line-height: 18px;
		  font-weight: 300;
		  text-align: center;
		}

		path.chord {
		  fill-opacity: 0.8;
		}

		a {
			text-decoration: none;
			color: #6B6B6B;
		}
